<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
<header>
    <div class="leftBlocks">
        <div class="textBlock"><a th:href="@{/products}">продукты</a></div>
    </div>
    <div class="searchProduct">
        <form th:action="@{/products}" method="get">
            <div>
                <input type="text" placeholder="Я хочу найти" name="search">
                <button type="submit">
                    <svg width="20" height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="19.5138" y="18.5495" width="7" height="2" transform="rotate(45 19.5138 18.5495)" fill="black"/>
                        <circle cx="11.5" cy="11.5" r="10.5" stroke-width="2" stroke="black"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div class="rightBlocks">
        <a id="basket" class="iconBlock" th:href="@{/cart}"><img src="/images/basket.svg" alt="" style="width: 35px; height: 35px"></a>
        <a class="iconBlock" th:href="@{/personal}"><img src="/images/user.png" alt="" style="width: 35px; height: 35px"></a>
    </div>
</header>
    <div class="blockInfo">
        <div class="insideBlockInfo">
            <div>
                <div class="info nameInfo" th:text="${product.name}"></div>
                <div class="info categoryInfo" th:text="${'Категория: ' + product.category.name}"></div>
                <div class="info priceInfo" th:text="${product.price + '₸'}"></div>
            </div>
            <th:block th:if="${!@orderService.isProductInCart(@userService.getCurrentUser(), product)}">
                <form class="buyProduct" th:action="@{/products}" method="post">
                    <button type="submit" name="addButton" th:value="${product.id}">Добавить в корзину</button>
                </form>
            </th:block>
            <th:block th:if="${@orderService.isProductInCart(@userService.getCurrentUser(), product)}">
                <form class="buyProduct" th:action="@{/products}" method="post">
                    <div>
                        <button class="minusBtn" type="submit" name="removeButton" th:value="${product.id}">-</button>
                        <span th:text="${@orderService.countProductsInOrder(@userService.getCurrentUser(), product)}"></span>
                        <button class="plusBtn" type="submit" name="addButton" th:value="${product.id}">+</button>
                    </div>
                </form>
            </th:block>
            <div class="recalls">
                <h2>Отзывы</h2>
                <form th:action="@{/products/7}" method="post">
                    <div class="leaveFeedback">
                        <h2 >Оставьте отзыв!</h2>
                        <div class="scoreRecall"><input type="number" name="score" placeholder="Сколько звёзд?"></div>
                        <div class="descriptionRecall">
                            <input type="text" name="description" placeholder="Введите описание отзыва">
                        </div>
                        <button type="submit" name="id" th:value="${product.getId()}">Отправить отзыв</button>
                    </div>
                </form>
                <div class="recall" th:each="recall : ${recallsTested}">
                    <div class="topRecall">
                        <div>
                            <div class="usernameRecall" th:text="${recall.user.name + ' ' + recall.user.lastname}"></div>
                            <div class="scoreRecall" th:text="${recall.score + ' звёзд'}"></div>
                        </div>
                        <div class="publicationDate" th:text="${recall.publication_date}"></div>
                    </div>
                    <div class="descriptionRecall" th:text="${recall.description}"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>