<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
<header>
    <div class="leftBlocks">
        <div class="textBlock"><a th:href="@{/products}">продукты</a></div>
    </div>
    <div class="searchProduct">
        <form th:action="@{/products}" method="get">
            <div>
                <input type="text" placeholder="Я хочу найти" name="search">
                <button type="submit">
                    <svg width="20" height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="19.5138" y="18.5495" width="7" height="2" transform="rotate(45 19.5138 18.5495)" fill="black"/>
                        <circle cx="11.5" cy="11.5" r="10.5" stroke-width="2" stroke="black"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div class="rightBlocks">
        <a id="basket" class="iconBlock" th:href="@{/cart}"><img src="/images/basket.svg" alt="" style="width: 35px; height: 35px"></a>
        <a class="iconBlock" th:href="@{/personal}"><img src="/images/user.png" alt="" style="width: 35px; height: 35px"></a>
    </div>
</header>
    <div class="blockCart">
        <div class="insideBlockCart">
            <th:block th:if="${!@orderService.isProductsInCart(@userService.getCurrentUser())}">
                Упс, похоже у вас нет товаров в корзине или вы не авторизовались
            </th:block>
            <th:block th:if="${@orderService.isProductsInCart(@userService.getCurrentUser())}">
                <div class="leftCart">
                    <div class="cartProducts">
                        <div class="cartProduct" th:each="product : ${products}">
                            <div class="cartProductName" th:text="${product.getName()}"></div>
                            <div class="cartProductPrice" th:text="${product.getPrice()} + '₸'"></div>
                            <div class="cartProductPanel">
                                <form th:action="@{/cart}" method="post">
                                    <button class="minusBtn" type="submit" name="removeButton" th:value="${product.id}">-</button>
                                    <span th:text="${@orderService.countProductsInOrder(@userService.getCurrentUser(), product)}"></span>
                                    <button class="plusBtn" type="submit" name="addButton" th:value="${product.id}">+</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightCart">
                    <div class="totalCost">
                        <div class="totalText">Общая стоимость</div>
                        <div th:text="${@orderService.totalPrice(@userService.getCurrentUser())} + '₸'"></div>
                    </div>
                    <div class="buttonDesign">
                        <form th:action="@{/cart}" method="post">
                            <button name="continueButton">Перейти к оформлению</button>
                        </form>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>