<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
    <div class="blockCart">
        <div class="insideBlockCart">
            <th:block th:if="${!@orderService.isProductsInCart(@userService.getCurrentUser())}">
                Упс, похоже у вас нет товаров в корзине или вы не авторизовались
            </th:block>
            <th:block th:if="${@orderService.isProductsInCart(@userService.getCurrentUser())}">
                <div class="leftCart">
                    <div class="cartProducts">
                        <div class="cartProduct" th:each="product : ${products}">
                            <div class="cartProductName" th:text="${product.getName()}"></div>
                            <div class="cartProductPrice" th:text="${product.getPrice()} + '₸'"></div>
                            <div class="cartProductPanel">
                                <form th:action="@{/cart}" method="post">
                                    <button class="minusBtn" type="submit" name="removeButton" th:value="${product.id}">-</button>
                                    <span th:text="${@orderService.countProductsInOrder(@userService.getCurrentUser(), product)}"></span>
                                    <button class="plusBtn" type="submit" name="addButton" th:value="${product.id}">+</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightCart">
                    <div class="totalCost">
                        <div class="totalText">Общая стоимость</div>
                        <div th:text="${totalPrice} + '₸'"></div>
                    </div>
                    <div class="buttonDesign">
                        <form th:action="@{/cart}" method="post">
                            <button name="continueButton">Перейти к оформлению</button>
                        </form>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>