<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>

<div class="header">
    <div class="insideHeader">
        <div class="logo">Diyar</div>
        <div class="btnsHeader">
            <div class="btnHeader">
                <a th:href="@{/form_controller/add_product}">создать продукт</a>
            </div>
            <div class="btnHeader">
                <a th:href="@{/form_controller/add_category}">создать категорию</a>
            </div>
            <div class="btnHeader">
                <a th:href="@{/form_controller/check_recalls}">отзывы</a>
            </div>
        </div>
        <div></div>
    </div>
</div>

<div class="form">
    <form th:action="@{/form_controller/add_product}" method="post">

        <h1>Создайте Продукт</h1>

        <select name="productCategoryId">
            <option th:each="category : ${categoryList}" th:value="${category.getId()}" th:text="${category.name}"></option>
        </select>

        <input type="text" name="productName" placeholder="Введите названия товара">

        <input type="number" name="productPrice" placeholder="Введите цена товара">

        <button type="submit">Создать Продукт</button>
    </form>
</div>

</body>
</html>